/* Start Reset */
* {
    box-sizing: border-box;
}
/* End Reset */


/* Start Global */
body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color: aqua;
}

.parent {
    background-color: #eee;
}
/* End Global */


/* Start Media Query */

/* Small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Media Query */